{% extends 'public/base_cpanel.html' %}

{% block title %}Detalle Jornadas{% endblock %}

{% block customCSS %}
<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/file.css') }}" />
{% endblock %}

{% block body %}
{% if (detalle_jornada|length) %}
<div class="card shadow-sm" style="border-radius: 10px;">
  <div class="card-header bg-primary text-white text-center">
    <h3 class="fw-bold">
      <a href="/lista-de-jornadas" class="text-white">
        <i class="bi bi-arrow-left-circle"></i>
      </a>
      INFORMACIÓN DE LA JORNADA
    </h3>
  </div>
  <div class="card-body p-4">
    <div class="row g-4">
      <div class="col-md-4">
        <label for="nombre_empleado" class="form-label fw-bold text-primary">Nombre Empleado</label>
        <div class="form-control" readonly>{{ detalle_jornada.nombre_empleado }}</div>
      </div>
    </div>
    <div class="row g-4 mt-3">
      <div class="col-md-3">
        <label for="fecha_hora_llegada_programada" class="form-label fw-bold text-primary">FH. Llegada Programada</label>
        <div class="form-control" readonly>{{ detalle_jornada.fecha_hora_llegada_programada }}</div>
      </div>
      <div class="col-md-3">
        <label for="fecha_hora_salida_programada" class="form-label fw-bold text-primary">FH. Salida Programada</label>
        <div class="form-control" readonly>{{ detalle_jornada.fecha_hora_salida_programada }}</div>
      </div>
      <div class="col-md-6">
        <label for="novedad_jornada_programada" class="form-label fw-bold text-primary">NOVEDAD JORNADA PROGRAMADA</label>
        <div class="form-control" readonly>{{ detalle_jornada.novedad_jornada_programada }}</div>
      </div>
    </div>
    <div class="row g-4 mt-3">
      <div class="col-md-3">
        <label for="fecha_hora_llegada" class="form-label fw-bold text-primary">FH. Llegada Real</label>
        <div class="form-control" readonly>{{ detalle_jornada.fecha_hora_llegada }}</div>
      </div>
      <div class="col-md-3">
        <label for="fecha_hora_salida" class="form-label fw-bold text-primary">FH. Salida Real</label>
        <div class="form-control" readonly>{{ detalle_jornada.fecha_hora_salida }}</div>
      </div>
      <div class="col-md-6">
        <label for="novedad_jornada" class="form-label fw-bold text-primary">NOVEDAD JORNADA REAL</label>
        <div class="form-control" readonly>{{ detalle_jornada.novedad_jornada }}</div>
      </div>
    </div>
    <div class="row g-4 mt-3">
      <div class="col-md-3">
        <label for="fecha_registro" class="form-label fw-bold text-primary">Fecha y Hora de Registro</label>
        <div class="form-control" readonly>{{ detalle_jornada.fecha_registro }}</div>
      </div>
      <div class="col-md-4">
        <label for="usuario_registro" class="form-label fw-bold text-primary">Registrado por</label>
        <div class="form-control" readonly>{{ detalle_jornada.usuario_registro }}</div>
      </div>
    </div>
  </div>
</div>
{% else %}
<div class="card shadow-sm" style="border-radius: 10px;">
  <div class="card-header bg-primary text-white text-center">
    <h3 class="fw-bold">INFORMACIÓN DE LA JORNADA</h3>
  </div>
  <div class="card-body p-4 text-center">
    <h2>No existe la Jornada 😭</h2>
    <hr />
  </div>
</div>
{% endif %}
{% endblock %}