{% extends 'public/base_cpanel.html' %}
<!-- Cambiando el title -->
{% block title %}Actualizar Datos del Empleado{% endblock %}

{% block customCSS %}
<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/file.css') }}" />

{% endblock %}

{% block body %}
{% if respuestaEmpleado|length %}
<div class="card shadow-sm" style="border-radius: 10px;">
  <div class="card-header bg-primary text-white text-center">
    <h3 class="fw-bold">
      <a href="/lista-de-empleados" class="text-white">
        <i class="bi bi-arrow-left-circle"></i>
      </a>
      ACTUALIZAR DATOS DEL EMPLEADO
    </h3>
  </div>
  <div class="card-body p-4">
    <form method="POST" action="{{ url_for('actualizar_empleado', id=respuestaEmpleado.id_empleado) }}" autocomplete="off" enctype="multipart/form-data">
      <input type="hidden" name="id_empleado" value="{{ respuestaEmpleado.id_empleado }}" />
      
      <div class="row g-4">
        <div class="col-md-6">
          <label for="nombre_empleado" class="form-label fw-bold text-primary">Nombre del empleado</label>
          <input type="text" name="nombre_empleado" value="{{ respuestaEmpleado.nombre_empleado }}" class="form-control" required />
        </div>
        <div class="col-md-6">
          <label for="apellido_empleado" class="form-label fw-bold text-primary">Apellido del empleado</label>
          <input type="text" name="apellido_empleado" value="{{ respuestaEmpleado.apellido_empleado }}" class="form-control" required />
        </div>
      </div>

      <div class="row g-4 mt-3">
        <div class="col-md-6">
          <label for="tipo_empleado" class="form-label fw-bold text-primary">Tipo Empleado</label>
          <input type="text" name="tipo_empleado_display" value="{{ respuestaEmpleado.tipo_empleado }}" class="form-control" readonly required />
          <input type="hidden" name="tipo_empleado" value="{{ respuestaEmpleado.id_tipo_empleado }}" />
        </div>
        <div class="col-md-6">
          <label for="telefono_empleado" class="form-label fw-bold text-primary">Teléfono del empleado</label>
          <input type="text" name="telefono_empleado" id="telefono" value="{{ respuestaEmpleado.telefono_empleado }}" class="form-control" required />
        </div>
      </div>

      <div class="row g-4 mt-3">
        <div class="col-md-6">
          <label for="email_empleado" class="form-label fw-bold text-primary">Email del empleado</label>
          <input type="email" name="email_empleado" value="{{ respuestaEmpleado.email_empleado }}" class="form-control" required />
        </div>
        <div class="col-md-6">
          <label for="cargo" class="form-label fw-bold text-primary">Cargo</label>
          <input type="text" name="cargo" value="{{ respuestaEmpleado.cargo }}" class="form-control" readonly required />
        </div>
      </div>

      <div class="row g-4 mt-3">
        <div class="col-md-6">
          <label for="documento" class="form-label fw-bold text-primary">No. Documento</label>
          <input type="text" name="documento" value="{{ respuestaEmpleado.documento }}" id="documento" class="form-control" readonly required />
        </div>
        <div class="col-md-6 text-center">
          <label for="foto_empleado" class="form-label fw-bold text-primary">Foto del empleado</label>
          <br />
          <img src="/static/fotos_empleados/{{ respuestaEmpleado.foto_empleado }}" style="width: 150px; border-radius: 5px;" alt="{{ respuestaEmpleado.nombre_empleado }}" />
        </div>
      </div>
      
      <div class="row g-4 mt-3">
        <div class="col-md-12 text-center">
          <button type="submit" class="btn btn-primary fw-bold">Actualizar Empleado</button>
        </div>
      </div>
    </form>
  </div>
</div>
{% else %}
<div class="card shadow-sm" style="border-radius: 10px;">
  <div class="card-header bg-primary text-white text-center">
    <h3 class="fw-bold">INFORMACIÓN DEL EMPLEADO</h3>
  </div>
  <div class="card-body p-4 text-center">
    <h2>No existe el Empleado 😭</h2>
    <hr />
  </div>
</div>
{% endif %}
{% endblock %}