{% extends 'public/base_cpanel.html' %}

{% block title %}Registrar Empleado{% endblock %}

{% block customCSS %}
<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/file.css') }}" />

{% endblock %}

{% block body %}
<div class="card shadow-sm" style="border-radius: 10px;">
  <div class="card-header bg-primary text-white text-center">
    <h3 class="fw-bold">REGISTRAR NUEVO EMPLEADO</h3>
  </div>
  <div class="card-body p-4">
    <form class="form-horizontal mx-auto" method="POST" action="/form-registrar-empleado" autocomplete="off" enctype="multipart/form-data">
      <div class="row g-4">
        <div class="col-md-4">
          <label for="documento" class="form-label fw-bold text-primary">Documento</label>
          <input class="form-control" type="text" name="documento" id="documento" required onchange="validateDocument()" />
          <div id="documento-error" class="text-danger"></div>
        </div>
        <div class="col-md-4">
          <label for="nombre_empleado" class="form-label fw-bold text-primary">Nombre del empleado</label>
          <input type="text" name="nombre_empleado" class="form-control" required />
        </div>
        <div class="col-md-4">
          <label for="apellido_empleado" class="form-label fw-bold text-primary">Apellido del empleado</label>
          <input class="form-control" type="text" name="apellido_empleado" required />
        </div>
      </div>
      <div class="row g-4 mt-3">
        <div class="col-md-4">
          <label for="tipo_empleado" class="form-label fw-bold text-primary">Tipo Empleado</label>
          <select class="form-select" name="tipo_empleado" required>
            <option value="" selected disabled>Seleccione</option>
            {% for empleado in tipo_empleado %}
              <option value="{{ empleado.id_tipo_empleado }}">{{ empleado.tipo_empleado }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="col-md-4">
          <label for="telefono_empleado" class="form-label fw-bold text-primary">Teléfono</label>
          <input class="form-control" type="text" name="telefono_empleado"  required pattern="[0-9]*" inputmode="numeric" onkeypress="return event.charCode >= 48 && event.charCode <= 57"/>
      </div>
        <div class="col-md-4">
          <label for="email_empleado" class="form-label fw-bold text-primary">Email</label>
          <input class="form-control" type="email" name="email_empleado" required />
        </div>
      </div>
      <div class="row g-4 mt-3">
        <div class="col-md-6">
          <label for="cargo" class="form-label fw-bold text-primary">Cargo</label>
          <input class="form-control" type="text" name="cargo" required />
        </div>
        <div class="col-md-6">
          <label for="foto_empleado" class="form-label fw-bold text-primary">Cargar Imagen del Empleado</label>
          <div class="avatar-upload">
            <div class="avatar-edit">
              <input type="file" name="foto_empleado" id="imageUpload" accept=".png, .jpg, .jpeg" />
              <label for="imageUpload"><i class="bi bi-pen"></i></label>
            </div>
            <div class="avatar-preview">
              {% set url_avatar= url_for('static', filename='assets/img/avatar.png') %}
              <div id="imagePreview" style="background-image: url('{{ url_avatar }}')"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="mb-3 mt-4 text-center">
        <button type="submit" class="btn rounded-pill btn-primary">
          Guardar registro ahora <i class="bi bi-arrow-clockwise"></i>
        </button>
      </div>
    </form>
  </div>
</div>
{% endblock %}