{% extends 'public/base_cpanel.html' %}
<!--Cambiando el title-->
{% block title %}Crud con Python 🐍 | Registrar Nueva Orden de Producción{% endblock %}
<!---->
{% block customCSS %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename ='assets/css/file.css') }}" />
{% endblock %}

<!--Inicio del block-->
{% block body %}
<div class="card" style="border-radius: 0px !important">
  {% if respuestaOp|length %}
  <div class="row justify-content-center mb-2">
    <div class="col-md-12">
      <h3 class="text-center mt-5 mb-3">
        <a href="/lista-de-op">
          <i class="bi bi-arrow-left-circle"></i>
        </a>
        ACTUALIZAR DATOS DE LA OP
      </h3>
      <hr />
    </div>
  </div>

  <div class="row justify-content-center mb-2">
    <div class="col-md-10">
      <form
        class="form-horizontal mx-auto"
        method="POST"
        action="{{ url_for('actualizarOp', id = respuestaOp.id_op ) }}"
        autocomplete="off"
        enctype="multipart/form-data">
        <input
          type="text"
          class="form-control"
          name="id_op"
          value="{{ respuestaOp.id_op }}"
          required
          hidden />

        <div class="card-body">
          <div class="row">
            <div class="col-md-2">
              <label for="codigo_op" class="form-label fw-bold text-primary">
                Codigo de OP
              </label>
              <input
                type="text"
                name="codigo_op"
                value="{{ respuestaOp.codigo_op }}"
                class="form-control"
                required readonly/>
            </div>
            <div class="col-md-3">
              <label for="nombre_cliente" class="form-label fw-bold text-primary">
                Nombre Cliente
              </label>
              <input
                class="form-control"
                type="text"
                name="nombre_cliente"
                value="{{ respuestaOp.nombre_cliente }}"
                required readonly/>
            </div>
            <div class="col-md-7">
              <label for="producto" class="form-label fw-bold text-primary">
                Producto
              </label>
              <input
                class="form-control"
                type="text"
                name="producto"
                value="{{ respuestaOp.producto }}"
                required />
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-md-2">
              <label for="estado" class="form-label fw-bold text-primary">
                Estado
              </label>
              <select name="estado" id="estado" class="form-control"
                title="Seleccionar estado" data-live-search="true" required>
                <option value="{{ respuestaOp.estado }}">{{ respuestaOp.estado }}</option>
                <option value="ANULA">ANULA</option>
                <option value="FACTU">FACTU</option>
                <option value="CRUCE">CRUCE</option>
                <option value="INV">INV</option>
                <option value="LP">LP</option>
                <option value="NC">NC</option>
                <option value="PR">PR</option>
                <option value="PR CR">PR CR</option>
                <option value="TER">TER</option>
              </select>
            </div>
            <div class="col-md-2">
              <label for="cantidad" class="form-label fw-bold text-primary">
                Cantidad
              </label>
              <input
                class="form-control"
                type="text"
                name="cantidad"
                value="{{ respuestaOp.cantidad }}"
                required />
            </div>
            <div class="col-md-2">
              <label for="odi" class="form-label fw-bold text-primary">
                ODI
              </label>
              <input
                class="form-control"
                type="text"
                name="odi"
                value="{{ respuestaOp.odi }}"
                required />
            </div>
            <div class="col-md-3">
              <label for="empleado" class="form-label fw-bold text-primary">
                VENDEDOR
              </label>
              <input
                class="form-control"
                type="text"
                name="empleado"
                value="{{ respuestaOp.empleado }}"
                required 
                readonly />
            </div>
            <div class="col-md-3">
              <label for="fecha_registro" class="form-label fw-bold text-primary">
                FECHA DE REGISTRO
              </label>
              <input
                class="form-control"
                type="text"
                name="fecha_registro"
                value="{{ respuestaOp.fecha_registro }}"
                required 
                readonly />
            </div>
          </div>
          <div class="mb-3 mt-4 text-center">
            <button type="submit" class="btn rounded-pill btn-primary">
              Guardar registro ahora
              <i class="bi bi-arrow-clockwise"></i>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
  {% else %}
  <div class="row justify-content-center mb-2">
    <div class="col-md-12">
      <h3 class="text-center">No existe el proceso</h3>
    </div>
  </div>

  {% endif %}
</div>
{% endblock %} {% block customJS %}
<script src="{{ url_for('static', filename ='assets/customJS/file.js') }}"></script>
{% endblock %}
