{% extends 'public/base_cpanel.html' %}
<!-- Cambiando el title -->
{% block title %}| Registrar Nuevo Proceso{% endblock %}

{% block customCSS %}
<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/file.css') }}" />
<style>
  .card-header {
    padding: 0.25rem 1rem;
    line-height: 1.2;
  }
  .card-header h3 {
    margin: 0.5rem 0;
    font-size: 1.5rem;
  }
</style>
{% endblock %}

{% block body %}
<div class="card shadow-sm" style="border-radius: 10px;">
  {% if respuestaProceso|length %}
  <div class="card-header bg-primary text-white text-center">
    <h3 class="fw-bold">
      <a href="/lista-de-procesos" class="text-white">
        <i class="bi bi-arrow-left-circle"></i>
      </a>
      ACTUALIZAR DATOS DEL PROCESO
    </h3>
  </div>
  
  <div class="card-body p-4">
    <form class="form-horizontal" method="POST" action="{{ url_for('actualizar_proceso', id=respuestaProceso.id_proceso) }}" autocomplete="off" enctype="multipart/form-data">
      <input type="text" class="form-control" name="id_proceso" value="{{ respuestaProceso.id_proceso }}" required hidden />

      <div class="row g-4">
        <div class="col-md-6">
          <label for="codigo_proceso" class="form-label fw-bold text-primary">Código de Proceso</label>
          <input type="text" name="codigo_proceso" value="{{ respuestaProceso.codigo_proceso }}" class="form-control" required />
        </div>
        <div class="col-md-6">
          <label for="nombre_proceso" class="form-label fw-bold text-primary">Nombre Proceso</label>
          <input class="form-control" type="text" name="nombre_proceso" value="{{ respuestaProceso.nombre_proceso }}" required />
        </div>
      </div>
      <div class="row g-4 mt-2">
        <div class="col-md-6">
          <label for="descripcion_proceso" class="form-label fw-bold text-primary">Descripción del Proceso</label>
          <input class="form-control" type="text" name="descripcion_proceso" value="{{ respuestaProceso.descripcion_proceso }}" required />
        </div>
      </div>
      <div class="mb-3 mt-4 text-center">
        <button type="submit" class="btn rounded-pill btn-primary">
          Guardar registro ahora <i class="bi bi-arrow-clockwise"></i>
        </button>
      </div>
    </form>
  </div>
  {% else %}
  <div class="card shadow-sm" style="border-radius: 10px;">
    <div class="card-header bg-primary text-white text-center">
      <h3 class="fw-bold">INFORMACIÓN DEL PROCESO</h3>
    </div>
    <div class="card-body p-4 text-center">
      <h2>No existe el proceso 😭</h2>
      <hr />
    </div>
  </div>
  {% endif %}
</div>
{% endblock %}

{% block customJS %}
<script src="{{ url_for('static', filename='assets/customJS/file.js') }}"></script>
{% endblock %}