<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme"  >
  <div class="app-brand demo">
    <a href="{{ url_for('inicio') }}" class="app-brand-link">
      <span class="app-brand-logo demo">
        <img
          src="{{ url_for('static', filename ='assets/img/logo.png') }}"
          alt="Logo"
          style="width: 70%; height: auto;" />
      </span>
    </a>
    
    <a
      href="javascript:void(0);"
      class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
      <i class="bx bx-chevron-left bx-sm align-middle"></i>
    </a>
  </div>

  <div class="menu-inner-shadow"></div>
  <ul class="menu-inner py-1">
    <li class="nav-item dropdown">
      <li class="mb-1">
        <button
          class="btn btn-toggle align-items-center rounded collapsed fw-bold fs-5"
          data-bs-toggle="collapse"
          data-bs-target="#control-collapse"
          aria-expanded="false"
        >
          <i class="menu-icon bi-ui-checks-grid me-2"></i> Control
        </button>
        <div class="collapse" id="control-collapse">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small ps-3">
            <li>
              <a
                href="{{ url_for('viewFormOperacion') }}"
                class="link-dark rounded fs-6 sub-menu-item {% if request.path == '/registrar-operacion' %} active {% endif %}"
              >
                <i class="bi bi-pass me-2"></i> Operación Diaria
              </a>
            </li>
            <li>
              <a
                href="/lista-de-operaciones"
                class="link-dark rounded fs-6 sub-menu-item {% if request.path == '/lista-de-operaciones' %} active {% endif %}"
              >
                <i class="bi bi-pass-fill me-2"></i> Lista de Operaciones
              </a>
            </li>
            {% if session['rol'] == 'Administrador' or session['rol'] == 'Supervisor' %}
            <li>
              <a
                href="{{ url_for('viewFormOp') }}"
                class="link-dark rounded fs-6 sub-menu-item {% if request.path == '/registrar-op' %} active {% endif %}"
              >
                <i class="bi bi-file-minus me-2"></i> Registro OP
              </a>
            </li>
            <li>
              <a
                href="/lista-de-op"
                class="link-dark rounded fs-6 sub-menu-item {% if request.path == '/lista-de-op' %} active {% endif %}"
              >
                <i class="bi bi-file-minus-fill me-2"></i> Lista de OP
              </a>
            </li>
            {% endif %}
            <li>
              <a
                href="{{ url_for('viewFormJornada') }}"
                class="link-dark rounded fs-6 sub-menu-item {% if request.path == '/registrar-jornada' %} active {% endif %}"
              >
                <i class="bi bi-file-minus me-2"></i> Registro Jornada
              </a>
            </li>
            <li>
              <a
                href="/lista-de-jornadas"
                class="link-dark rounded fs-6 sub-menu-item {% if request.path == '/lista-de-jornadas' %} active {% endif %}"
              >
                <i class="bi bi-file-minus-fill me-2"></i> Lista de Jornadas
              </a>
            </li>
          </ul>
        </div>
      </li>
      {% if session['rol'] == 'Administrador' or session['rol'] == 'Supervisor' %}
      <li class="mb-1">
        <button
          class="btn btn-toggle align-items-center rounded collapsed fw-bold fs-5"
          data-bs-toggle="collapse"
          data-bs-target="#administrar-collapse"
          aria-expanded="false"
        >
          <i class="menu-icon bi-person-gear me-2"></i> Administrar
        </button>
        <div class="collapse" id="administrar-collapse">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small ps-3">
            {% if session['rol'] == 'Administrador' %}
            <li>
              <a
                href="{{ url_for('viewFormEmpleado') }}"
                class="link-dark rounded fs-6 sub-menu-item {% if request.path == '/registrar-empleado' %} active {% endif %}"
              >
                <i class="bi bi-person-bounding-box me-2"></i> Registrar Empleado
              </a>
            </li>
            {% endif %}
            <li>
              <a
                href="/lista-de-empleados"
                class="link-dark rounded fs-6 sub-menu-item {% if request.path == '/lista-de-empleados' %} active {% endif %}"
              >
                <i class="bi bi-person-lines-fill me-2"></i> Lista de Empleados
              </a>
            </li>
            {% if session['rol'] == 'Administrador' %}
            <li>
              <a
                href="{{ url_for('viewFormProceso') }}"
                class="link-dark rounded fs-6 sub-menu-item {% if request.path == '/registrar-proceso' %} active {% endif %}"
              >
                <i class="bi bi-gear me-2"></i> Registrar Proceso
              </a>
            </li>
            {% endif%}
            <li>
              <a
                href="/lista-de-procesos"
                class="link-dark rounded fs-6 sub-menu-item {% if request.path == '/lista-de-procesos' %} active {% endif %}"
              >
                <i class="bi bi-gear-fill me-2"></i> Lista de Procesos
              </a>
            </li>
            {% if session['rol'] == 'Administrador' %}

            <li>
              <a
                href="{{ url_for('viewFormCliente') }}"
                class="link-dark rounded fs-6 sub-menu-item {% if request.path == '/registrar-cliente' %} active {% endif %}"
              >
                <i class="bi bi-person-vcard me-2"></i> Registrar Cliente
              </a>
            </li>
            {% endif%}
            <li>
              <a
                href="/lista-de-clientes"
                class="link-dark rounded fs-6 sub-menu-item {% if request.path == '/lista-de-clientes' %} active {% endif %}"
              >
                <i class="bi bi-person-vcard-fill me-2"></i> Lista de Clientes
              </a>
            </li>
            {% if session['rol'] == 'Administrador' %}
            <li>
              <a
                href="{{ url_for('viewFormActividad') }}"
                class="link-dark rounded fs-6 sub-menu-item {% if request.path == '/registrar-actividad' %} active {% endif %}"
              >
                <i class="bi bi-universal-access-circle me-2"></i> Registrar Actividad
              </a>
            </li>
            {% endif%}
            <li>
              <a
                href="/lista-de-actividades"
                class="link-dark rounded fs-6 sub-menu-item {% if request.path == '/lista-de-actividades' %} active {% endif %}"
              >
                <i class="bi bi-universal-access me-2"></i> Lista de Actividades
              </a>
            </li>
            {% if session['rol'] == 'Administrador' %}
            <li>
              <a
                href="{{ url_for('viewFormEmpresa') }}"
                class="link-dark rounded fs-6 sub-menu-item {% if request.path == '/registrar-actividad' %} active {% endif %}"
              >
                <i class="menu-icon tf-icons bi bi-building"></i> Registrar Empresa
              </a>
              
            </li>
            {% endif%}

            <li>
              <a
                href="/lista-de-empresas"
                class="link-dark rounded fs-6 sub-menu-item {% if request.path == '/lista-de-empresas' %} active {% endif %}"
              >
                <i class="menu-icon tf-icons bi bi-building-fill"></i> Lista de Empresas
              </a>
            </li>           
          </ul>
        </div>
      </li>
    <!-- Sección Reportes -->
    <li class="mb-1">
      <a
        href="/powerbi"
        class="btn btn-toggle align-items-center rounded fw-bold fs-5 {% if request.path == '/powerbi' %} active {% endif %}"
      >
        <i class="menu-icon bi bi-file-earmark-spreadsheet-fill me-2"></i> Reportes
      </a>
    </li>
    <!-- Sección Usuarios -->
    <li class="mb-1">
      <button
        class="btn btn-toggle align-items-center rounded collapsed fw-bold fs-5"
        data-bs-toggle="collapse"
        data-bs-target="#usuarios-collapse"
        aria-expanded="false"
      >
        <i class="menu-icon bi-person-workspace me-2"></i> Usuarios
      </button>
      <div class="collapse" id="usuarios-collapse">
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small ps-3">
          {% if session['rol'] == 'Administrador' %}
          <li>
            <a
              href="/register-user"
              class="link-dark rounded fs-6 sub-menu-item {% if request.path == '/register-user' %} active {% endif %}"
            >
              <i class="bi bi-key me-2"></i> Crear Usuario
            </a>
          </li>
          {% endif%}
          <li>
            <a
              href="/lista-de-usuarios"
              class="link-dark rounded fs-6 sub-menu-item {% if request.path == '/lista-de-usuarios' %} active {% endif %}"
            >
              <i class="bi bi-key-fill me-2"></i> Lista de Usuarios
            </a>
          </li>
        </ul>
      </div>
    </li>
    {% endif %}
    <br>
    <br>       
  </ul>
  <li class="menu-item">
    <a href="{{ url_for('cerraSesion') }}" class="menu-link">
      <i class="menu-icon tf-icons bx bx-lock-open-alt"></i>
      <div data-i18n="Tables">Salir</div>
    </a>
  </li> 
  <li
      class="menu-item {% if request.path == '/mi-perfil' %} active {% endif %}">
      <a href="/mi-perfil" class="menu-link">
        <i class="menu-icon  bi-person-circle"></i>
        <div data-i18n="Tables">{{ session['name_surname'] }}</div>
      </a>
    </li>  
</aside>