{% extends 'public/base_cpanel.html' %}
<!--Cambiando el title-->
{% block title %}Registrar Nuevo Cliente{% endblock %}
<!---->
{% block customCSS %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename ='assets/css/file.css') }}" />
{% endblock %}

<!--Inicio del block-->
{% block body %}
<div class="card" style="border-radius: 0px !important">
  {% if respuestaCliente|length %}
  <div class="row justify-content-center mb-2">
    <div class="col-md-12">
      <h3 class="text-center mt-5 mb-3">
        <a href="/lista-de-clientes">
          <i class="bi bi-arrow-left-circle"></i>
        </a>
        ACTUALIZAR DATOS DEL CLIENTE
      </h3>
      <hr />
    </div>
  </div>

  <div class="row justify-content-center mb-2">
    <div class="col-md-10">
      <form
        class="form-horizontal mx-auto"
        method="POST"
        action="{{ url_for('actualizar_cliente', id = respuestaCliente.id_cliente ) }}"
        autocomplete="off"
        enctype="multipart/form-data">
        <input
          type="text"
          class="form-control"
          name="id_cliente"
          value="{{ respuestaCliente.id_cliente }}"
          required
          hidden />

        <div class="card-body">
          <div class="row">
            <div class="col-md-6">
              <label for="nombre_cliente" class="form-label fw-bold text-primary">
                Nombre del cliente
              </label>
              <input
                type="text"
                name="nombre_cliente"
                value="{{ respuestaCliente.nombre_cliente }}"
                class="form-control"
                required />
            </div>
            <div class="col-md-2">
              <label for="tipo_documento" class="form-label fw-bold text-primary">
                Tipo Documento
              </label>
              <input
                class="form-control"
                type="text"
                name="tipo_documento"
                value="{{ respuestaCliente.tipo_documento }}"
                readonly
                required />
            </div>
            <div class="col-md-3">
              <label for="documento" class="form-label fw-bold text-primary">
                No. Documento
              </label>
              <input
                class="form-control"
                type="text"
                name="documento"
                value="{{ respuestaCliente.documento }}"
                readonly
                id="documento"
                required />
            </div>
            <div class="row mt-2">
            
              <div class="col-md-3">
                <label for="telefono_cliente" class="form-label fw-bold text-primary">
                  Telefono del cliente
                </label>
                <input
                  class="form-control"
                  type="text"
                  name="telefono_cliente"
                  id="telefono"
                  value="{{ respuestaCliente.telefono_cliente }}"
                  required />
              </div>
              <div class="col-md-4">
                <label for="email_cliente" class="form-label fw-bold text-primary">
                  Email del cliente
                </label>
                <input
                  class="form-control"
                  type="email"
                  name="email_cliente"
                  value="{{ respuestaCliente.email_cliente }}"
                  required />
              </div>
              <div class="col-md-5">
                <label for="" class="form-label fw-bold text-primary"> FOTO DEL CLIENTE </label>
                <br />
                <img
                  src="/static/fotos_clientes/{{ respuestaCliente.foto_cliente }}"
                  style="width: 150px"
                  alt="{{ respuestaCliente.nombre_cliente }}" />
              </div>
              </div>              
            </div>  
          </div>          
          <div class="row">
            <div class="col-md-6">
              <label for="" class="form-label fw-bold text-primary">
                ACTUALIZAR LA FOTO DEL CLIENTE
              </label>
              <div class="avatar-upload">
                <div class="avatar-edit">
                  <input
                    type="file"
                    name="foto_cliente"
                    id="imageUpload"
                    accept=".png, .jpg, .jpeg" />
                  <label for="imageUpload"><i class="bi bi-pen"></i></label>
                </div>
                <div class="avatar-preview">
                  {% set url_avatar= url_for('static', filename
                  ='assets/img/avatar.png') %}
                  <div
                    id="imagePreview"
                    style="background-image: url('{{ url_avatar }}')"></div>
                </div>
                <div class="mb-3 mt-4 text-center">
                  <button type="submit" class="btn rounded-pill btn-primary">
                    Guardar registro ahora
                    <i class="bi bi-arrow-clockwise"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>

          
        </div>
      </form>
    </div>
  </div>
  {% else %}
  <div class="row justify-content-center mb-2">
    <div class="col-md-12">
      <h3 class="text-center">No existe el cliente</h3>
    </div>
  </div>

  {% endif %}
</div>
{% endblock %} {% block customJS %}
<script src="{{ url_for('static', filename ='assets/customJS/file.js') }}"></script>
{% endblock %}
